<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/admin/add-user">Register</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/admin/add-user" method="POST">
            <lable for="fname">First Name:</lable><br>
            <input type="text" name="fname"><br>
            <lable for="lname">Last Name:</lable><br>
            <input type="text" name="lname"><br>
            <button type="submit">Register</button>
        </form>
    </main>
</body>
</html>