body {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.main-header {
    width: 100%;
    height: 2.5rem;
    background-color: #d7e5d0;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 0.8rem;
    padding: 0;
}

.main-header__item a {
    font-size: medium;
    text-decoration: none;
    align-items: center;
    color: white;
}

.main-header__item a:hover {
    background-color: #c1cebb;
}